PORT=1234
NODE_ENV=development
MONGO_URL=mongodb://localhost:27017/nombre-de-tu-db
JWT_SECRET=una-cadena-larga-y-aleatoria-que-vos-generes
JWT_EXPIRES_IN=tiempo_de-expiracion-del-token-en-segundos
MAIL_HOST=mail.host.example.io
MAIL_PORT=2020
MAIL_USER=keymailuser
MAIL_PASS=keymailpass
MAIL_FROM=Plataforma de Eventos <no-reply@plataforma.com>
